You MUST include at least ONE of these trending keywords in your titles: {{ missing_trends }}

Based on these facts:
{{ facts }}

Generate 5 high-CTR titles that naturally incorporate the trending keywords.
Output as JSON: { "titles": string[] }
